/bin
/.settings
/.classpath
/.project
/ExportToDebugServer.jardesc
/ExportToLibrary.jardesc
/ExportToServer.jardesc
/ExportToUploadFolder(Win7).jardesc
/ExportToUploadFolder(WinXP).jardesc
/saved code bits.txt
